<main>
  <div class="container d-flex mt-5">
    <div class="col-md-2 mt-3">
      <h4 class="sub-title  border-bottom border-warning">ジャンル検索</h4>
      <ul class="sub-menu  list-inline">
        <li class="border-bottom list-inline-item mb-1"><a href="/">ケーキ</a></li>
        <li class="border-bottom list-inline-item mb-1"><a href="/">焼き菓子</a></li>
        <li class="border-bottom list-inline-item mb-1"><a href="/">プリン</a></li>
        <li class="border-bottom list-inline-item mb-1"><a href="/">キャンディー</a></li>
      </ul>
    </div>
  
  
  <div class="top-content col-md-9 mt-3 ">
    <h3 class="top-text text-center "> ようこそ、ながのCAKEへ！！<br/> このサイトはケーキ販売のECサイトになります。<br/> 会員でない方も商品の閲覧はできますが、<br/> 購入には会員登録が必要になります。 </h3>
    <h4 class="sub-title mt-5">-- 新着商品 --</h4>
    <div class="sub-container d-flex">
      <div class="item-box mr-3">
        <%#= image_tag "sweets4.jpeg" ,class:'img' %>
          <div class="item-name mt-2"> <strong><p>イチゴタルト</p></strong> </div>
          <div class="item-praice"> <strong><p>￥0,000</p></strong> </div>
      </div>
      <div class="item-box mr-3">
        <%#= image_tag "sweets5.jpeg" ,class:'img' %>
          <div class="item-name mt-2"> <strong><p>チョコレートケーキ</p></strong> </div>
          <div class="item-praice"> <strong><p>￥0,000</p></strong> </div>
      </div>
      <div class="item-box mr-3">
        <%#= image_tag "sweets7.jpeg" ,class:'img' %>
          <div class="item-name mt-2"> <strong><p>焼きプリン</p></strong> </div>
          <div class="item-praice"> <strong><p>￥0,000</p></strong> </div>
      </div>
      <div class="item-box">
        <%#= image_tag "sweets2.jpeg" ,class:'img' %>
          <div class="item-name mt-2"> <strong><p>シュークリーム</p></strong> </div>
          <div class="item-praice"> <strong><p>￥0,000</p></strong> </div>
      </div>
    </div>
  </div>
  </div>
</main>