<div class="container admin-top">
  <div class="row w-75 mx-auto mt-2">
    <div class="d-flex justify-content-start">
      <h4 class="bg-light text-center my-3 px-4">テストユーザーさんの注文履歴</h4> <!-- @cust.name -->
    </div>
    <table class="table order-table">
      <tr class="bg-light border-top border-bottom border-black-50">
        <th class="table-item w-25">購入日時</th>
        <th class="table-item w-25">注文個数</th>
        <th class="table-item w-25">注文ステータス</th>
      </tr>
      <% 10.times do %> <!-- @cust_orders.each do |order| -->
        <tr class="border-bottom border-black-50">
          <td class="table-item">
            <%= link_to "2000/01/01", admin_order_path(1) %> <!-- cust_order.created_at -->
          </td>
          <td class="table-item">
            1 <!-- cust_order.orderdetails.sum(:piece) -->
          </td>
          <td class="table-item">
            入金待ち <!-- cust_order.order_status -->
          </td>
        </tr>
      <% end %>
      <% #paginate @orders %>
    </table>
  </div>
</div>