@import '~bootstrap/scss/bootstrap';


/*---------------------------------
  注文履歴(admin)
---------------------------------*/

.admin-top .order-table tr {
  line-height: 2.4;
}

.admin-top .table-item {
  padding-left: 15px;
}

.admin-order-show .btn-success {
  margin-left: 5px;
}

.admin-order-show .table-item {
  padding-left: 15px;
}

.admin-order-show .customer-table tr {
  line-height: 2.1;
}

.admin-order-show .customer-table th {
  width: 170px;
}

.admin-order-show .order-table tr {
  line-height: 2.6;
}

.admin-order-show .sum-table {
  line-height: 2;
}


/*---------------------------------
  カート(public)
---------------------------------*/

.public-cart-index .item-table tr {
  line-height: 2.8;
}

.public-cart-index .table-item {
  padding-left: 5px;
}

.public-cart-index .item-table .btn-success {
  margin-left: 5px;
}

.public-cart-index .sum-table tr {
  line-height: 2.8;
}

.public-cart-index table th {
    border: 2px solid gray;
}

.public-cart-index table td {
    border: 2px solid gray;
}